<form class="partial" action="/render-partial" method="GET" layout="none">
<div class="new-bartender">
  <h3>Submit your new favorite mixologist!</h3>
  <div>
    <input type="text" id="bartender-name" placeholder="Name">
  </div>
  <p>Recommend the best cocktail they serve!</p>
  <div>
    <input type="text" class="form" id="bartender-specialty" placeholder="Cocktail">
  </div>
  <div class="stars"></div>
  <div>
    <button type="submit" class="btn">Sign Up!</button>
  </div>
</div>
</form>
