<!DOCTYPE html >
<head>
  <title>Bartenders</title>
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <form class="container" role="form">
      <input type="email" id="email" placeholder="Email">
      <div class="form">
        <input type="password" class="form" id="inputPassword" placeholder="Password">
      </div>
      <div class="form">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
      <div class="form">
        <button type="submit" class="btn">Sign in</button>
        <p><a href="/signup">Haven't signed up yet?</a></p>
      </div>
    </form>
</body>
</html>