<div class="search" data="<%=@user.id%>">
  <button type="submit" class="location">Update your location!</button>
  <div class="bars-closeby">
    <div id="map-canvas">

    </div>
    <div class="show-bars">
      <div class = "t1"></div>
    </div>
  </div>
</div>


