<div id="container">
  <h2>Please fill out all text boxes</h2>
  <form action="/users" method="POST">
    <div>
      <input type="Name" name="name" placeholder="Name">
    </div>
    <input type="email" name="email" placeholder="Email">
    <div>
      <input type="password" name="password" id="input-password" placeholder="Password">
    </div>
    <div>
      <input type="password" id="double-check" placeholder="Type Password Again">
    </div>
    <div>
      <button type="submit" class="btn">Sign Up!</button>
    </div>
  </form>
</div>